@if (Context.User.Identity.IsAuthenticated == false){
    <li class="nav-item">
        <a asp-controller="Empleados"
            asp-action="PerfilEmpleado"
       class="nav-link text-dark">
            Log In
        </a>
    </li>
}else{
    <li class="nav-item">
        <a asp-controller="Manager"
       asp-action="Logout" class="nav-link text-dark">
            Log out
            <span style="color:blue">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
}